/* Move down content because we have a fixed navbar that is 50px tall */
body {
    font-family: Georgia, serif;
    padding-top: 50px;
    padding-bottom: 20px;
    color: white;
    background: -webkit-gradient(linear, right top, left bottom, from(#6d3d30), to(#171c21)) fixed;
}

:root {
    --background-color: #222;
    --accent-color: #316a85;
    --accent-hover: #3e718a;
    --light-background-color: #363636;
    --font-color: #bab6b6;
    --reverse-background-color: #FFF;
    --btn-color: #000000;
    --btn-hover: #424242;
    --circleDiameter: 1rem;
    --star-round: 1rem;
}

[data-theme="light"] {
    --background-color: #e1e5eb;
    --accent-color: #316a85;
    --light-background-color: #FFF;
    --font-color: #000000;
    --reverse-background-color: #000000;
    --btn-color: #FFF;
    --btn-hover: #e1e5eb;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background-color: rgba(var(--accent-color), 0) !important;
}

.navbar-toggle {
    background-color: var(--background-color);
}

.dropdown-menu {
    background-color: var(--light-background-color);
}

.dropdown-item {
    color: var(--reverse-background-color);
}

    .dropdown-item:hover {
        background-color: var(--btn-hover);
        color: var(--accent-color);
        filter: brightness(80%);
    }

.disclaimer {
    font-size: 12px;
    font-style: italic;
}

.modal-content {
    color: var(--font-color);
    background-color: var(--light-background-color);
}

.modal-body {
    padding-left: 20%;
}

.btn-primary, .btn-primary[disabled] {
    background-color: var(--accent-color);
    border: var(--accent-color);
}

    .btn-primary:hover {
        background-color: var(--accent-color);
        filter: brightness(80%);
    }

.close {
    color: var(--font-color);
    background-color: var(--reverse-background-color);
}

.toast-container {
   z-index: 99999;
}

.toast-header.toast-success {
    color: black;
    background-color: #00d181;
}

.toast-header.toast-error {
    color: black;
    background-color: #ba0404;
}

/* Dark Mode Toggle */
.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
    margin-top: 14px;
    margin-left: 5px;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 12px;
        width: 12px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: var(--accent-color);
}

    input:checked + .slider:before {
        -webkit-transform: translateX(16px);
        -ms-transform: translateX(16px);
        transform: translateX(16px);
    }

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

.dropdown-menu {
    padding-left: 5px;
}